.media
  .media-left
    .avatar
      = image_tag(message.user.avatar.url, class: "media-object")
    -# %img{:alt => "...", :src => "..."}
  .media-body
    %p= message.body

    .message_time
      = message.created_at.strftime("%d %b %Y")