.new_message
  = form_for([user, room, message]) do |f|
    = f.text_area :body, placeholder: "write your message", class: "write-message"
    = f.submit "send", class: "btn btn-primary btn-new-task grad-green send-message"
